.home-page-container {
	display: flex;
	flex-direction: column;
	gap: 55px;
}

.home-page-container .video-container {
	width: 100%;
	height: 500px;
}

.video-container video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%);
}

.home-page-container section {
	display: flex;
	padding: var(--space-4);
}

.home-page-container section.intro {
	justify-content: center;
}

.home-page-container section.features {
	flex-direction: column;
	align-items: center;
}

.home-page-container section.partners {
	background-color: var(--color-primary);
}

.home-page-container section.partners .logos-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.home-page-container section.partners img {
	width: 100%;
	max-width: 250px;
}

.home-page-container section.partners .header {
	color: var(--color-surface);
}

.home-page-container section.services .header {
	color: var(--color-primary);
}

.home-page-container section.services {
	gap: var(--space-5);
}

.home-page-container section.services .body {
	width: 100%;
	max-width: 1200px;
}

.home-page-container section.services .services-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: var(--space-5);
}

.home-page-container section.services .service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--space-3);
	border-radius: 15px;
	padding: var(--space-3) var(--space-5);
	background-color: var(--color-surface);
	box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.03), 0px 5px 4px rgba(3, 7, 18, 0.02),
		0px 12px 9px rgba(3, 7, 18, 0.02), 0px 20px 15px rgba(3, 7, 18, 0.01),
		0px 32px 24px rgba(3, 7, 18, 0.01);
}

.home-page-container section.services .service .body {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);
}

.home-page-container section.services .service .title {
	width: 100%;
	font-size: 18px;
	color: var(--color-secondary);
}

.home-page-container section.services .service .description {
	font-size: 14px;
	color: var(--color-text-secondary);
}

.home-page-container section.services .service .more a {
	display: flex;
	gap: var(--space-2);
}

@media (min-width: 768px) {
	.home-page-container .video-container {
		width: 100%;
		height: 700px;
	}

	.home-page-container section.partners {
		gap: var(--space-3);
	}

	.home-page-container section.partners img {
		max-width: 350px;
	}
}
