* {
	box-sizing: border-box;
	transition: all 122ms linear;
}

html,
body {
	margin: 0 !important;
	height: 100% !important;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color: var(--color-text-primary) !important;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none !important;
	color: var(--color-text-primary);
}

a:hover {
	color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

.identity-container {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 2 / 3;
}

.identity-container .logo-img {
	height: var(--navbar-height);
	width: 200px;
	object-fit: cover;
	object-position: center;
}

.page-container section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-container section .header {
	text-align: center;
}

.page-container section .body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-container section .header {
	font-size: 30px;
}

@media (min-width: 768px) {
	.page-container section .header {
		font-size: 45px;
	}
}
