* {
	box-sizing: border-box;
	transition: all 122ms linear;
}

html,
body {
	margin: 0 !important;
	height: 100% !important;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color: var(--color-text-primary) !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

a {
	text-decoration: none !important;
	color: var(--color-text-primary);
}

a:hover {
	color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}
